/* Need to return and edit font with a better browser */
h1{
    background-color: ivory;
    text-align: center;
}

body{
    background-color: ivory;
    text-align: center;
}

img{
    border-radius: 10px;
    align-content: center;
}